.container {
  width: 120vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #d3d3d3;
}

.header {
   height: 50vh;
   background-color: rgb(103, 39, 146);
   display: flex;
}

.headerImage {
  position: relative;
}

.headerImage img{
   height: 50vh;
}
.headerImage button{
  position: absolute;
  bottom: 25%;
  right: 15px;
}

.musicList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 13rem;
}

.musicItem {
  background-color: #d3d3d3;
   margin: 1rem;
   display: flex;
}

.musicItem img{
   height: 100%;
}

.musicDetails h1 {
  color: #292525;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 400;
}

.control{
  position: absolute;
  background-color: rgb(24, 13, 13);
  bottom: 0;
  width: 100%;
  opacity: 0.8;
  padding-bottom: 0.5rem;
}

.control span {
   color: #eee;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}

.time {
  display: flex;
  justify-content: space-between;
}

.timeControl{
  width: 100%;
}

.control input {
  appearance: none;
  -webkit-appearance: none;
  height: 0.3rem;
}

.control input ::-webkit-slider-thumb {
   appearance: none;
   -webkit-appearance: none;
   background-color: #fefefe;
   height: 0.4rem;
   width: 0.4rem;
   border-radius: 100%;
}

.main {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
